<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8" />
  <title><%= resume.name %> | <%= resume.title %> | <%= resume.email %></title>
  <link rel="stylesheet" href="css/reset.css" media="all" />
  <link rel="stylesheet" href="css/960.css" media="all" />
  <link rel="stylesheet" href="css/tipsy.css" media="all" />
  <link rel="stylesheet" href="css/resume.css" media="all" />
  <link rel="stylesheet" href="css/print.css" media="print" />

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
  <script src="js/jquery.tipsy.js"></script>

  <script>
    $(function() {

      // Add the print stylesheet if necessary
      var isPrint = false;
      if (window.location.search.indexOf('p=1') > 0) {
        isPrint = true;
        $('head').append('<link rel="stylesheet" href="css/print.css" />');
      }

      // Setup expansion animation for career sections
      $('li.open-close.closed')
        .mouseenter(function() { $(this).toggleClass('hovered'); })
        .mouseleave(function() { $(this).toggleClass('hovered'); })
        .click(function() {
          var section = $(this);
          section.unbind('mouseenter').unbind('mouseleave').unbind('click');
          section.find('ul').slideDown('slow', function() {
            // Remove the hover class after .5 seconds
            setTimeout(function() {
              section.removeClass('hovered');
            }, 500);
          });
        });
    });
  </script>
</head>

<body>

<div id="resume" class="container_16 clearfix rc-5">

  <header class="grid_14 prefix_1 suffix_1 clearfix">
    <hgroup class="grid_9 alpha">
      <h1><%= m resume.full_name %></h1>
      <h2><%= resume.title %></h2>
    </hgroup>
    <div class="grid_5 omega">
      <a id="pdf" class="rc-2" href="<%= resume.pdf %>">Download PDF</a>
      <h3><a href="mailto:<%= resume.email %>"><%= resume.email %></a></h3>
      <% resume.links.each do |link| -%>
        <h3><a href="<%= link.url %>"><%= link.title %></a></h3>
      <% end -%>
      <h3><%= resume.phone %></h3>
    </div>
  </header>

  <!-- Skills: Current -->
  <section id="skills-current" class="grid_14 prefix_1 suffix_1 clearfix">
    <hgroup class="grid_2 alpha">
      <h1>Skills</h1>
    </hgroup>
    <% each_group(resume.skills.current, 3) do |group, i| -%>
      <ul class="grid_4<%= i == 2 ? ' omega' : '' %>">
      <% group.each do |skill| -%>
          <li><%= h skill %></li>
      <% end -%>
      </ul>
    <% end -%>
  </section>

  <!-- Career -->
  <section id="career" class="grid_14 prefix_1 suffix_1 clearfix">
    <hgroup class="grid_2 alpha">
      <h1>Career</h1>
    </hgroup>
    <ul class="career grid_12 omega">
      <%- resume.career.each_with_index do |job, job_i| -%>
        <% break if resume.show_jobs && (job_i + 1) > resume.show_jobs.to_i -%>
        <% if job_i < resume.show_role_highlights -%>
        <li>
        <% else -%>
        <li class="open-close closed">
        <%- end -%>
          <hgroup>
            <h2><a href="<%= job.url %>"><%= job.company %></a> &mdash; <%= job.location %></h2>
            <%- Array(job.details).each do |detail| -%>
              <p><strong><%= detail.key %></strong>: <%= detail.value %></p>
            <%- end -%>
          </hgroup>
          <% if job.summary -%>
          <p class="summary">
            <%= m job.summary %>
          </p>
          <% end -%>
          <% job.roles.each do |role| -%>
            <h3><%= role.role %>, <%= role_range(role) %></h3>
            <ul>
            <% role.highlights.each do |highlight| -%>
              <li>
                <%= m highlight %>
              </li>
            <% end -%>
            </ul>
          <%- end -%>
      </li>
      <%- end -%>
    </ul>
  </section>

  <!-- Education -->
  <section id="education" class="grid_14 prefix_1 suffix_1 clearfix">
    <hgroup class="grid_2 alpha">
      <h1>Education</h1>
    </hgroup>
    <ul class="grid_12 omega">
      <% resume.education.each do |degree| -%>
      <li>
        <hgroup>
          <h2><a href="<%= degree.url %>"><%= degree.school %></a> &mdash; <%= degree.location %></h2>
          <h3><%= degree.degree %></h3>
        </hgroup>
        <ul>
          <li>Graduated <%= degree.graduated %></li>
          <% degree.highlights.each do |highlight| -%>
            <li><%= highlight %></li>
          <% end -%>
        </ul>
      </li>
      <% end -%>
    </ul>
  </section>

  <!-- Find Me -->
  <section id="other" class="grid_14 prefix_1 suffix_1 clearfix">
    <hgroup class="grid_2 alpha">
      <h1>Find me</h1>
    </hgroup>
    <ul class="grid_12 omega find-me">
        <% resume.online.each do |link| -%>
          <li><a href="<%= link.url %>"><%= link.title %></a><span class="print-only"> - <%= link.url %></span></li>
        <% end -%>
    </ul>
  </section>

  <footer class="grid_14 prefix_1 suffix_1 clearfix">
    <p><%= resume.name %> &mdash; <a href="mailto:<%= resume.email %>"><%= resume.email %></a> &mdash; <%= resume.phone %></p>
  </footer>

</div>

&nbsp;

</body>
